/*Mixins and Essentials*/

$sans: 'Roboto',sans-serif;
$mono: 'Inconsolata',sans-serif;

@mixin transition($time){
  -webkit-transition: all$time ease;
  -moz-transition: all$time ease;
  -o-transition: all$time ease;
  transition: all$time ease;
}

@mixin smoothtransition($time){
	-webkit-transition: all$time cubic-bezier(.43,.13,.15,.99);
	-moz-transition: all$time cubic-bezier(.43,.13,.15,.99);
	-o-transition: all$time cubic-bezier(.43,.13,.15,.99);
	transition: all$time cubic-bezier(.43,.13,.15,.99);
}

::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/*Body*/

body
{
	margin: 0px;
}

section {
  padding: 50px 0px;
  width: 90%;
  margin: 0 auto;
}

@keyframes listening {
  0% { 
    box-shadow: 0px 0px 0px 0rem rgba(255,105,180,.5);
   }

   50% { 
    box-shadow: 0px 0px 0px .5rem rgba(255,105,180,.5);
   }

   100% { 
    box-shadow: 0px 0px 0px 0rem rgba(255,105,180,.5);
   }
}

button.listen {
  padding: 10px 20px;
  background: hotpink;
  color: #FFF;
  font-family: $sans;
  border: 0;
  font-size: 1.1em;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

button.face {
  padding: 10px 20px;
  background: #ffcc66;
  color: #FFF;
  font-family: $sans;
  border: 0;
  font-size: 1.1em;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

button.listen.running {
  animation: listening 1s infinite;
}

h4 {
  font-family: $sans;
}

p.transcript {
  font-size: 1.2em;
  font-family: $sans;
  line-height: 1.5;
  margin: 30px 0px;
}

#video-stream {
  position: relative;
  top: 0;
  left: 0;
  margin: 20px 0px;
  transform-origin: center center;
  transform: rotateY(-180deg);

  .emoji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5em;
  }

  #face_video_canvas
  {
    width: 100% !important;
  }
}

